<html lang="en-US" class="theme-dark">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <meta content="width=device-width,initial-scale=1,maximum-scale=12,minimum-scale=.25,user-scalable=yes" name="viewport">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <header><a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="44" viewBox="0 0 408 572">
  <path d="M 0.00,0.00            C 0.00,0.00 408.00,0.00 408.00,0.00              408.00,0.00 408.00,122.00 408.00,122.00              408.00,122.00 0.00,122.00 0.00,122.00              0.00,122.00 0.00,0.00 0.00,0.00 Z            M 0.00,164.00            C 0.00,164.00 122.00,164.00 122.00,164.00              122.00,164.00 122.00,572.00 122.00,572.00              122.00,572.00 0.00,572.00 0.00,572.00              0.00,572.00 0.00,164.00 0.00,164.00 Z            M 164.00,164.00            C 164.00,164.00 286.00,164.00 286.00,164.00              286.00,164.00 286.00,284.00 286.00,284.00              286.00,284.00 408.00,284.00 408.00,284.00              408.00,284.00 408.00,572.00 408.00,572.00              408.00,572.00 286.00,572.00 286.00,572.00              286.00,572.00 286.00,356.00 286.00,356.00              286.00,356.00 164.00,356.00 164.00,356.00              164.00,356.00 164.00,164.00 164.00,164.00 Z"></path>
</svg></a></header>
        <div id="nav-container">
          <div id="nav-primary">{% for link in site.navitems.primary %}<a class="nav-button"href="{{ link.url }}">{{ link.icon }}</a>{% endfor %}{% for link in page.links %}<a class="nav-button"href="{{ link.url }}">{{ link.icon }}</a>{% endfor %}</div>
          <div id="nav-secondary">{% for link in site.navitems.secondary %}<a class="nav-button"href="{{ link.url }}">{{ link.icon }}</a>{% endfor %}</div>
        </div>
      </div>
      <section>
        <div id="content-container">
          {{ content }}
        </div>
        <footer><a>Projects by </a><a href="//github.com/Kee7702">Kee7702</a><a> © {{ "2021-10-25T17:21:26.000Z" | date: "%Y" }} - {{ site.time | date: "%Y" }}<br>Pages built on {{ site.time | date_to_long_string: "ordinal", "US" }}.<br><br>PREVIEW VERSION:<br>• Large files may be inaccessible.<br>• Platforms like Discord won't embed links.<br>• Experimental designs may be tested.</a></footer>
      </section>
    </div>
  </body>
</html>